
.button-eye {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.eye {
  width: inherit;
  height: inherit;
  display: none;

  &_active {
    display: block;
  }
}
