
.button-eye {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  transform: translate(50%, -50%);
  cursor: pointer;
  color: var( --color-gray-600);

  &:hover {
    color: var( --color-gray-900);
  }
}

.eye {
  width: inherit;
  height: inherit;
  display: none;

  &_active {
    display: block;
  }
}
