@use "sass:color";
@use "variables" as *;
@use "mixins" as *;
@use "fonts" as *;


:root {
  // Light Theme Palette
  --color-background-light: #FFFFFF;
  --color-text-primary-light: #212529; // A common dark gray for text
  --color-text-secondary-light: #495057;
  --color-primary-light: #007bff; // Example primary color (blue)
  --color-secondary-light: #6c757d; // Example secondary color (gray)
  --color-accent-light: #ffc107; // Example accent color (yellow)
  --color-surface-light: #f8f9fa; // For cards, sections backgrounds
  --color-border-light: #dee2e6;
}

body {
  background-color: var(--color-background-light);
  font-family: $font-family-sans;
  color: var(--color-text-primary-light); // Updated
}

.scss-container {
  @include flex-center;
  padding: 1rem;
}
h1, h2 {
  font-family: $font-family-nexa-light;
}
.h1-bg-scss {
  background-color: purple; // Example SCSS background
}
