
.modal-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 40;

    background: rgba(24, 28, 41, 0.2);
    display: flex;

    &_hidden {
      display: none;
    }
  }